<!DOCTYPE html>
<html>
 <head>
   <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
 </head>
  <body>
    <p>Hi there,</p>
   	<br >  
   	<p>A new subscriber requires a loyalty card their details are:</p>
   	<br >
   	<tr><td><b>First Name:</b></td><td><%= @subscriber.first_name%></td></tr><br>
    <tr><td><b>Last Name:</b></td><td><%= @subscriber.last_name%></td></tr><br>
		<tr><td><b>Address:</b></td><td><%= @subscriber.address%></td></tr><br>
		<tr><td><b>Email:</b></td><td><%= @subscriber.email%></td></tr><br>
		<tr><td><b>Mobile:</b></td><td><%= @subscriber.mobile%></td></tr><br>
	</body>
</html>