<%- banner = params[:cat].downcase.gsub(/\s+/, '_')  -%>
<%= render partial: "pages/banners/#{banner}" if %w(shopping services eating_and_drinking).include?(banner) %>

<section class="content-padding">
	<div class="row content-padding">
		<div class="column text-center medium-text-left large-text-center">
      <h2>A-Z of <%= params[:cat] -%> in Merthyr Tydfil Town Centre</h2>
      <hr />
		</div>
	</div>

	<div class="row content-padding">
		<div class="column">
      <%=raw @template.try(:body) -%>
    </div>
  </div>


	<div id="infinite-list" class="row small-up-1 medium-up-3 content-padding" data-equalizer data-equalize-on="medium" data-equalize-by-row="true">
	</div>
  <div id="infinite-loader" class="row column content-padding">loading...</div>
</section>

<%= content_for :script do %>
  <%= render 'pages/business_pagination_script' %>
<% end %>
