<section class="single light-gray-bg content-padding">
	<div class="row">
		<div class="column">
			<ul class="breadcrumbs">
				<li><a href="/"><i class="fa fa-home"></i></a></li>
				<li><a href="visiting.html"><span>Visiting</span></a></li>
			</ul>
		</div>
	</div>
	
	<div class="row">
		<div class="columns">
			<h1 class="text-center">Visiting Merthyr Tydfil Town Centre</h1>
			<p class="lead">A very warm welcome to Merthyr Tydfil - the largest town in the beautiful Welsh Valleys and well known for its vibrant centre and friendly atmosphere. Merthyr Tydfil Town Centre is a great place to visit for shopping, eating and drinking, as well as providing a wonderful stepping-stone to the amazing array of attractions and activities on its doorstep. </p>
			<p>You can find out here all about the shops, cafes, restaurants and professional services that Merthyr Tydfil Town Centre has to offer in our easy to use directory. Look out also for a host of special offers and promotions from the town’s businesses – you don’t want to miss out on a great discount from a favourite shop or restaurant! </p>
		</div>
	</div>
	
	<div class="row small-up-1 medium-up-2 large-up-3">
		<div class="columns">
			<a href="/public/pages/when-youre-here" class="visiting-card when">
				<h3 class="card-title">When You're Here</h3>
				<div class="image-wrap">
          <%= image_tag 'whenV2.png' %>
				</div>
			</a>
		</div>
		<div class="columns">
			<a href="/public/pages/places-to-visit" class="visiting-card places">
				<h3 class="card-title">Places To Visit</h3>
				<div class="image-wrap">
          <%= image_tag 'placesV2.png' %>
				</div>
			</a>
		</div>
		<div class="columns">
			<a href="/public/guides" class="visiting-card maps">
				<h3 class="card-title">Maps & Guides</h3>
				<div class="image-wrap">
          <%= image_tag 'mapV2.png' %>
				</div>
			</a>
		</div>
		<div class="columns">
			<a href="/public/pages/parking-information" class="visiting-card parking">
				<h3 class="card-title">Parking</h3>
				<div class="image-wrap">
          <%= image_tag 'parkingV2.png' %>
				</div>
			</a>
		</div>
		<div class="columns">
			<a href="/public/businesses_category/Places To Stay" class="visiting-card staying">
				<h3 class="card-title">Staying</h3>
				<div class="image-wrap">
          <%= image_tag 'stayingV2.png' %>
				</div>
			</a>
		</div>
		<div class="columns">
			<a href="/public/pages/getting-here" class="visiting-card getting">
				<h3 class="card-title">Getting Here</h3>
				<div class="image-wrap">
          <%= image_tag 'gettingV2.png' %>
				</div>
			</a>
		</div>
	</div>
</section>
