<div class="content">
  <!-- content HEADER -->
  <!-- ========================================================= -->
  <div class="content-header">
    <!-- leftside content header -->
    <div class="leftside-content-header">
      <ul class="breadcrumbs">
        <li class="active-item"><a href="#">Subscribers</a></li>
      </ul>
    </div>
  </div>
  <div class="row animated fadeInRight">
    <div class="col-sm-12">
      <h4 class="section-subtitle"><b>Listing</b> subscribers</h4>
      <p> 
        <%= link_to 'New Subscriber', new_subscriber_path %> 
      </p>
      <div class="panel">
        <div class="panel-content">
          <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead>
                <tr>                  
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Email</th>
                  <th>Address</th>
                  <th>Mobile</th>
                  <th>Postcode</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <% @subscribers.each do |subscriber| %>
                  <tr>                    
                    <td><%= subscriber.first_name %></td>
                    <td><%= subscriber.last_name %></td>
                    <td><%= subscriber.email %></td>
                    <td><%= subscriber.address %></td>
                    <td><%= subscriber.mobile %></td>
                    <td><%= subscriber.postcode %></td>
                    <td>
                      <div class="btn-group btn-group-xs">
                        <%= link_to subscriber, id: "logo" do %>
                          <i class="fa fa-eye"></i>
                        <% end %>
                        <%= link_to edit_subscriber_path(subscriber), id: "logo" do %>
                          <i class="fa fa-pencil"></i>
                        <% end %>
                        <%= link_to subscriber, method: :delete, data: { confirm: 'Are you sure?' }, id: "logo" do %>
                          <i class="fa fa-times"></i>
                        <% end %>
                      </div>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <%= paginate @subscribers -%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>