<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <%- page_title = @page_title.present?? "#{@page_title} | We Love Merthyr" : 'We Love Merthyr' -%>
    <title><%= page_title -%></title>
    <%= render partial: 'layouts/stylesheets_javascripts' -%>
    <!-- FB Open Graph Meta Tags -->
    <!--<meta property="fb:app_id" content="<%= Facebook.config[:app_id]-%>"/>
    <meta property="og:title" content="<%= page_title %>"/>
    <meta property="og:locale" content="en_UK"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="<%= request.original_url -%>"/>
    <meta property="og:image" content=""/>
    <meta property="og:site_name" content="We Love Merthyr"/>-->
    <!-- end FB Open Graph -->
    <%= stylesheet_link_tag "front", media: "all" %>
    <script src="https://use.typekit.net/ffm4kap.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=59e877cdcc58690012e4b427&product=inline-share-buttons"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-36590054-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-36590054-1');
</script>
    <%= yield :head %>
  </head>
  <body data-controller="<%= controller_name -%>" data-action="<%= action_name -%>">

    <%= render 'layouts/front/header' %>
    <%= raw flash_messages %> 
