<!DOCTYPE html>
<html class="fixed">
  <head>
    <title>WeLoveMerthyr</title>
    <script src="https://use.fontawesome.com/c574a81ddb.js"></script>
    <%= stylesheet_link_tag    "new_admin", media: "all" %>
    <%= javascript_include_tag "new_admin" %>
    <%#= javascript_include_tag "bootstrap-datepicker" -%>
    <%= csrf_meta_tags %>
  </head>

  <body data-controller="<%= controller_name -%>" data-action="<%= action_name -%>">
    <div class="wrap">
      <%= render partial: 'layouts/new_admin/header' -%>
      <div class="page-body">
      <%- if user_signed_in? -%>
        <%= render partial: 'layouts/new_admin/main_nav' -%>
      <%end%>
        <%= yield %>
      </div>
    </div> 
  </body>
</html>
