<!DOCTYPE html>
<html lang="en">
  <head>
    <%- page_title = @page_title.present?? "#{@page_title} | We Love Merthyr" : 'We Love Merthyr' -%>
    <title><%= page_title -%></title>
    <%= render partial: 'layouts/meta_tags' -%>
    <!--<link rel="shortcut icon" href="favicon.png">-->
    <%= render partial: 'layouts/stylesheets_javascripts' -%>
    <%= csrf_meta_tags %>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#downloadlist").tinyscrollbar();

            /*
            $("#events").click(function(){
              $(".events").toggleClass("displayBlock");
            });
            $("#reports").click(function(){
              $(".reports").toggleClass("displayBlock");

            });
            $("#newsletters").click(function(){
              $(".newsletters").toggleClass("displayBlock");
            });
            $("#general").click(function(){
              $(".general").toggleClass("displayBlock");
            });
            */

          });
    </script>
    <style>
      .displayBlock {
        display: block !important;
      }
      .download-toggle-btn {
        display: block;
        margin: 10px;
        background-color: #a8c64c;
        color: #fff;
        font-weight: bold;
        font-size: 18px;
        border-radius: 7px;
        background-position: right center;
        background-repeat: no-repeat;
        text-align: center;
      }

    </style>
  </head>

  <!--[if IE 7]> <body class="no-js lt-ie9 lt-ie8" data-controller="<%= controller_name -%>" data-action="<%= action_name -%>"> <![endif]-->
  <!--[if IE 8]> <body class="no-js lt-ie9" data-controller="<%= controller_name -%>" data-action="<%= action_name -%>"> <![endif]-->
  <!--[if IE 9]> <body class="no-js ie9" data-controller="<%= controller_name -%>" data-action="<%= action_name -%>"> <![endif]-->
  <!--[if gt IE 9]><!--> <body data-controller="<%= controller_name -%>" data-action="<%= action_name -%>"> <!--<![endif]-->
    <div class="container header">
      <%= link_to image_tag('img/new_logo.jpg', alt: "", class: "logo"), root_path -%>
      <%= link_to image_tag("/assets/img/logo2.png", alt: "", class: "logo2"), public_page_show_path('The Big Heart of Merthyr Tydfil'.parameterize) -%>
    </div>

    <%= render partial: 'layouts/main_nav' -%>

    <div id="wrapper" class="container theme-showcase">
      <%= yield :bread_crumbs if content_for? :bread_crumbs -%>

      <div class="col-lg-8 content">
        <%= yield %>
      </div>

      <div class="col-lg-4 sidebar">
        <div class="widget">
          <%= render partial: 'shared/sidebar_download_links' -%>
        </div>
      </div>
    </div>

    <%= render partial: 'layouts/footer' -%>
  </body>
</html>
